/* start global rules */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import './scss/colors';
*{
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    padding: 0;
    margin: 0;
    outline: none;
    ::selection{
    }
}
html{
    scroll-behavior: smooth;
    &::-webkit-scrollbar{
        /* width: 16px; */
    }
    &::-webkit-scrollbar-track{
        /* background-color: #3ab7ff68;
        box-shadow: 0 0 12px #333 inset; */
    }
    &::-webkit-scrollbar-thumb{
        /* background-color: rgba(39, 37, 37, 0.858);
        border-radius: 30px; */
    }
    &::-webkit-scrollbar-thumb:hover{
        /* background-color: #dbd8e38d; */
    }
}
body{
    font-family: 'Open Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    color: $black;
}
a{
    text-decoration: none;
    color: $black;
}
ul{
    list-style: none;
}
button{
    background-color: transparent;
    border: none;
}
// @media (max-width: 1200px) {
//     html{
//         font-size: 90%;
//     }
// }
// @media (max-width: 500px) {
//     html{
//         font-size: 80%;
//     }
// }
// @media (max-width: 400px) {
//     html{
//         font-size: 70%;
//     }
// }
// @media (max-width: 300px) {
//     html{
//         font-size: 54%;
//     }
// }

.container{
    margin: 0 auto;
    padding: 0 15px;
}
/* small screen */
@media (min-width:768px) {
    .container{
        width: 750px;
    }
}

/* medium screen */
@media (min-width:992px) {
    .container{
        width: 970px;
    }
}

/* large screen */
@media (min-width:1200px) {
    .container{
        width: 1170px;
    }
}
/* end global rules */

/*start import components*/
@import './scss/header';
@import './scss/footer';
/*end import components*/